@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Health Catalyst People Searcher</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Search</h2>
        <input value=""/>
    </div>
</div>